body{
    background: rgba(156, 69, 59, 0.204);
}
.icon_box_one{
    min-height: 250px;
}

.navbar {
    min-height: 100px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f954f4+0,f99fe3+46,efaeee+100 */
background: rgb(249,84,244); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(249,84,244,1) 0%, rgba(249,159,227,1) 46%, rgba(239,174,238,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(249,84,244,1) 0%,rgba(249,159,227,1) 46%,rgba(239,174,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(249,84,244,1) 0%,rgba(249,159,227,1) 46%,rgba(239,174,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f954f4', endColorstr='#efaeee',GradientType=1 ); /* IE6-9 */

}
.row{
    background: #eb9486 ;
    opacity: 0.7;

}
.col-md-4{
    border: 5px solid brown;
    background: rgb(214, 152, 162);
}
#fixed {
    background-image: url(images/la.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

.jumbotron{
    margin-bottom: 0px;
}
.welcome,.section_title{
    background: plum;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
}
.content{
    padding: 20px;
    background: snow;
    margin-bottom: 10px;
}
hr{
    width: 75%;
    height: px;
}

